.bg-primary {
  background-color: rgb(29, 112, 183) !important;
}

.logo-brand {
  height: 2rem;
}

.carousel-item {
  height: 800px !important;
}

.about {
  padding: 100px 0;
}

.alert,
#loader {
  display: none;
}

